@media (min-width: 768px) {
    /* .wrapper {
        min-width: 768px;
    } */

    .main-header {
        min-height: 700px;
        background-image: url(../assets/decor-img/Vector\ Smart\ Object\(768png\).png);
     
    }

    .link-container {
        display: flex;
        width: 673px;
        margin-bottom: 155px;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu-list {
        margin-bottom: 0;
    }

    .site-logo {
        order: -1;
    }

    .top {
        font-size: 52px;
        margin-bottom: 26px;
    }

    .bot {
        font-size: 24px;
        margin-bottom: 35px;
    }

    .header-button {
        padding: 15px 18px;
    }

    .delete {
        display: none;
    }

    .section-title {
        margin-bottom: 35px;
    }

    .partner-lits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 460px;
    }

    .item-order {
        order: 1;
        margin-bottom: 38px;
    }

    .item-order2 {
        order: 2;
    }

    .partner-section-button {
        padding: 15px 28px;
    }

}

@media (min-width: 940px) {
    /* .wrapper {
        min-width: 940px;
    } */

    .main-header {
        background-image: url('../assets/decor-img/Vector\ Smart\ Object\ desc.png');
    }

    .link-container {
        width: 940px;
    }

    .partner-lits {
        flex-direction: row;
        width: 940px;
    }
}
