* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-family: 'Montserrat';
    --secondary-font-family: 'Roboto';
}

body {
    font-family: var(--main-font-family);
    font-size: 14px;
}

.wrapper {
    width: 320px;
    margin: 0 auto;
}

.main-header {
    min-height: 540px;
    background-image: url(../assets/decor-img/Vector\ Smart\ Object.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu-list {
    display: flex;
    justify-content: space-between;
    width: 153px;
    margin-bottom: 120px;
    list-style: none;
    padding-top: 30px;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.sign {
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 40px;
    padding: 7px 16px;
}

.site-logo {
    margin-bottom: 30px;
    font-size: 20px;

}

.head-descr {
    text-align: center;
    color: #ffffff;
}

.top {
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.bot {
    margin-bottom: 15px;
    font-family: var(--secondary-font-family);
    font-size: 18px;
}

.header-button {
    padding: 15px 47px;
    border: none;
    border-radius: 40px;
    background-color: #ff4e50;
    color: #ffffff;
    cursor: pointer;
    font-family: var(--main-font-family);
    font-size: 14px;
}

/* SECTION */

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 22px;
    color: #333333;
}

.partner-lits {
    text-align: center;
    list-style: none;
}

.partner-list-item {
    position: relative;
}

.section-img {

    margin-bottom: 20px;
}

/* DECORATION */

.decoration {
    position: absolute;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 4px solid #ffffff;
}

.decoration::before {
    position: absolute;
    display: block;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tv {
    top: 42%;
    right: 32%;
    background-color: #ff4e50;
}

.tv::before {
    background-image: url('../assets/decor-img/tv.png');
    width: 14px;
    height: 14px;
    top: 6px;
    left: 6px;
}

.colb {
    background-color: #ffa507;
    top: 36%;
    right: 32%;
}

.colb::before {
    background-image: url('../assets/decor-img/colb.png');
    width: 13px;
    height: 16px;
    top: 5px;
    left: 7px;
}

.cup {
    background-color: #1cd7ad;
    top: 41%;
    right: 32%;
}

.cup::before {
    background-image: url('../assets/decor-img/cup.png');
    width: 17px;
    height: 17px;
    left: 5px;
    top: 4px;
}

.telegram {
    background-color: #4e73db;
    top: 42%;
    right: 32%;
}

.telegram::before {
    background-image: url('../assets/decor-img/telegram.png');
    width: 17px;
    height: 16px;
    left: 4px;
    top: 6px;
}

.partner-name {
    color: #333333;
    margin-bottom: 18px;
}

.partner-descr {
    font-family: var(--secondary-font-family);
    color: #666666;
    margin-bottom: 25px;
}

.partner-section-button {
    display: block;
    margin: 0 auto;
    border: 2px solid #ff4e50;
    background-color: #fff;
    border-radius: 40px;
    padding: 13px 70px;
    margin-bottom: 40px;
    font-family: var(--main-font-family);
    font-size: 14px;
    color: #ff4e50;
}
